.projects-page-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	min-height: 100vh;
	background-color: var(--primary-color-dark);
	font-size: 1.5rem;
	color: var(--primary-color-light2);
}