.about-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: left;
	width: 100%;

	font-family: var(--current-font);
	color: var(--primary-color-light);
} 


/** About me */
.about-title {
	font-size: 0.9em;
	font-weight: 400;
	padding-bottom: 40px;
    width: auto; 
    display: inline-flex; 
    position: relative; 
	justify-content: space-between;
	color: var(--white);
} .about-info {
	font-size: 1.1rem;
	margin-top: 12rem;
	margin-bottom: 12rem;
	width: 50%;
	z-index: 1;
	color: var(--primary-color-light2);
	background-color: var(--primary-color-dark);
} .about-link {
	font-weight: 600;
	text-decoration: none;
} .about-link:hover {
	background-color: var(--white);
} .about-link:visited {
	color: var(--white);
} .about-gt-logo {
	vertical-align: middle;
	color: var(--white);
}

img.about-gt-logo {
	filter: brightness(0) invert(1);
}

/** Skills */
.about-skills-container {
	width: 50%;
	display: flex;
	flex-direction: column;
} .landing-title {
	display: inline-flex;
	position: relative;
	font-size: inherit;
	padding: 40px 0;
	font-weight: 400;
	font-size: 0.9em;
	color: var(--white);
} .container {
	background-color: var(--primary-color-dark);
	border: 1px solid var(--primary-color);
	border-radius: 20px;
	z-index: 0;
} .about-skills {
	display: flex;
	flex-direction: row;
	justify-content: center;
	/** Wrap the skills from top to bottom */
	flex-wrap: wrap; 
	width: 100%; 
} .skill_container {
	display: flex; 
	align-items: center;
	flex-direction: column;
	color: var(--primary-color-light2);
	font-size: 0.5em;
	width: 10%;
	height: 10%;
	padding-bottom: 30px;
	margin: 0 20px;
	transition: transform 0.3s;
} .skill_container i {
	font-size: 4em;
	color: white;
	padding: 30px;
} .skill_container:hover {
	transform: scale(1.2);
}
