.react_link {
	color: var(--white);
	text-decoration: none;		
}

.react_link:visited{
	color: var(--white);
}


@media (max-width: 900px) {
	.footer-info {
		font-size: 0.8rem;
	}
	.footer-url {
		color: black;
	}
}
