.header-name {
	color: var(--white);
	font-size: var(--font-HUGE);
	font-family: var(--current-font);
	font-size: 1.2rem;
	font-weight: 600;
	margin-top: 2rem;
	margin-left: 1rem;
	user-select: none;
} .header-name:hover {
	cursor: pointer;
}

/** navigation icon */
.navigation-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100vh;
    background-color: var(--primary-color-dark);
    z-index: 1001;
} .navigation-subcontainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
} 
.nav-list-item {
	color: white;
	text-decoration: none;
	font-size: 4rem;
	font-family: var(--font-family-ibm-plex-mono);
  } .nav-list-item:hover {
	text-decoration: underline;
  } .nav-list-item:visited {
	color: white;
  } .nav-list-info {
	color: var(--primary-color-light);
	font-family: var(--font-family-text);
}

/** Media Queries for Mobile Devices */
@media (max-width: 900px) {
	.navigation-container {
		height: 100%;
		width: 90%;
	}
	.nav-link {
		font-size: 1rem;
	}
}

@media (max-width: 900px) {
	.header-name { 
		font-size: 1rem;
		margin-left: 2rem;
	}
}
