/**
 * Genearl Navigation Styling
 */

.navigation {
	margin: 50px 0;
	width: 50%;
	background-color: rgb(22, 22, 22);
	font-family: var(--current-font);
	
}
.navigation-list { 
	display: flex;
	flex-direction: column;
	text-align: right;
	font-weight: 600;
	font-family: var(--font-family-n27);
	font-size: 1.1rem;
	list-style: none;
}
.nav-link-li {
	margin-bottom: 0.5rem;
}
.nav-link {
	height: inherit;
	color: var(--primary-color-light);
	text-decoration: none;
} .nav-link:hover {
	color: var(--white);
} .nav-link:visited {
	text-decoration: none;
}


/**
 * Georgia Tech
 */
.link-gatech {
	text-decoration: none;
	color: white;
	font-weight: bold;
	transition: background-color 0.3 ease
}
.link-gatech:hover {
	color: white;
	text-decoration: underline;
}
.link-gatech:visited {
	color: white;
	text-decoration: none;
}
.link-parchment {
	font-family: "Roboto Slab", serif;
	font-weight: bold;
	text-decoration: none;
	color: white;
} 
.link-parchment:visited {
	color: white;
}
.link-parchment:hover {
	font-weight: bold;
	text-decoration: underline;
}


.company {
	font-family: "Roboto Slab", serif;
	font-weight: bold;
	color: rgb(0, 128, 251);
}

@media (max-width: 900px) {
	.navigation-list {
		margin-top: 2rem;
		margin-right: 2rem;
	}
	.nav-link  {
		font-size: 1.2rem;
	}
}


