.trace-path-left {
	position: fixed;
	top: 0;
	left: 16rem;
	pointer-events: none;
	z-index: 1000;
}

.trace-path-right {
	position: fixed;
	top: 0;
	left: 77rem;
	pointer-events: none;
	z-index: 1000;
}

@media (max-width: 900px) {
  .trace-path-right {
    display: none;
  }
  .trace-path-left {
    left: 1rem; 
    top: 0;
    z-index: 1000;
    transform: translateX(0);
  }
  .trace-path-left svg {
    height: 100vh;
    max-height: 100vh;
  }
}