.trace-path-left {
	position: fixed;
	top: 0;
	left: 16rem;
	pointer-events: none;
	z-index: 1000;
}

.trace-path-right {
	position: fixed;
	top: 0;
	left: 77rem;
	pointer-events: none;
	z-index: 1000;
}