.work_container { 
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: left;
	width: 100%;
	font-family: var(--font-family-n27);
	color: var(--primary-color-light2);
} .work_tabs_container {
	display: flex;
	flex-direction: row;
	width: 50%;
}

.landing-title {
	display: flex;
	flex-direction: column;
	font-size: 0.9em;
	font-weight: 400;
	padding-bottom: 40px;
    width: 50%; 
    display: inline-flex; 
    position: relative; 
	justify-content: space-between;
	font-family: var(--current-font);
	text-align: left;
	color: var(--white);
}
.work_experience {
	height: 20rem;
}
.my_work {
	align-self: flex-end;
	font-size: 0.6em;
	width: 50%;
	z-index: 1;
	color: var(--primary-color-light2);
	background-color: var(--primary-color-dark);
}

.tab_panel {
	display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    height: 100%; 
    overflow: auto; 
}

.experience_title {
	margin-top: 0;
	color: var(--white);
	font-family: var(--current-font);
}.experience_location {
	margin-top: 0;
	font-family: var(--current-font);
}.experience_date {
	margin-top: 0;
	font-family: var(--current-font);
}.experience_description {
	margin-top: 0;
    margin: 16px 0; 
	padding: 0 1em;
    font-size: 16px; 
    line-height: 1.5; 
	white-space: pre-wrap; 
	font-family: var(--current-font);
} .experience_point {
	margin-bottom: 1em;
}
