/* This code is going to be modified for personal use */


.App {
  text-align: center;
  background-color: var(--primary-color-dark);
}

.break {
  margin: 70px auto;
  width: 70%;
  height: 0.5px; /* Adjusted to make the line extremely thin */
  background-color: var(--primary-color); /* Set the color of the hr */
  border: none;
}

/**On screens with width 1000px or less, decrease font size*/
@media (max-width: 1000px) {
	.header-spin {
    font-size: 10px;
  }
}

