:root{
	--primary-color: rgb(50, 50, 50);
  --primary-color-dark: rgb(12, 12, 12);
  --primary-color-dark2: rgb(20, 20, 20);
  --primary-color-light: rgb(100, 100, 100);
  --primary-color-light2: rgb(150, 150, 150);
	--black: black;
	--white: white;
  --break-color: #eee;
  --accent-color-red: rgb(200, 0, 0);
  --accent-color-green: rgb(0, 200, 0);
  --accent-color-blue: rgb(0, 0, 200);
  --accent-color-yellow: rgb(255, 200, 0);
  --accent-color-gt: rgb(179, 163, 105);
  --accent-color-gh: rgb(45, 186, 78);
}

/* font families */
@import url('https://fonts.googleapis.com/css2?family=Geist&display=swap');
:root {
	--font-family-text: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family-gt: 'Roboto Slab', 'Roboto', sans-serif;
  --font-family-ibm-plex-mono: 'Geist', 'IBM Plex Mono';
  --font-family-geist: 'Geist', sans-serif;
}

::selection {
  background-color: var(--white);
  color: var(--black);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

