html, body, #root {
  height: 100%;
}

html {
  font-size: 106.25%;
}

body {
  margin: 0;
}

.page-fade {
  animation: page-fade-in 1000ms ease-out;
}

@keyframes page-fade-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
